
/* Blue */
.qb0 { fill:rgba(247,251,255,.4); }
.qb1 { fill:rgba(222,235,247,.4); }
.qb2 { fill:rgba(198,219,239,.4); }
.qb3 { fill:rgba(158,202,225,.4); }
.qb4 { fill:rgba(107,174,214,.4); }
.qb5 { fill:rgba(66,146,198,.4); }
.qb6 { fill:rgba(33,113,181,.4); }
.qb7 { fill:rgba(8,81,156,.4); }
.qb8 { fill:rgba(8,48,107,.4); }


/* Red */
.qr0 { fill:rgba(255,235,214,.5); }
.qr1 { fill:rgba(245,203,174,.5); }
.qr2 { fill:rgba(235,169,136,.5); }
.qr3 { fill:rgba(225,132,101,.5); }
.qr4 { fill:rgba(215,93,69,.5); }
.qr5 { fill:rgba(205,53,39,.5); }
.qr6 { fill:rgba(195,10,10,.5); }







